@media(max-width : 768px) {
    nav .content {
        flex-direction: column;
    }
    nav .content * {
        padding: 1rem 0;
    }
    nav .content ul  {
        width: 100%;
    }
}

@media(max-width : 1200px) {
    section .content {
        flex-wrap: wrap;
    }
    section .content .right-con {
        width: 100%;
    }
    section .content .img {
        width: 100%;
    }
    section .img img {
        width: 100%;
        margin: 1rem 0;
    }
    section .content h1 {
        font-size: 2.5rem;
    }
}