* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    
}

body{
    font-weight: bold;
    direction:rtl;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    width: 70%;
    margin: auto;
}

nav {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

nav .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 ;
    
}

nav .content h1 {
    background-color: #686cd8;
    width: 6rem;
    text-align: center;
    border-radius: 3px;
    padding: .3rem 0;

}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

nav li {
    list-style: none;
    
}

nav li:hover {
    cursor: pointer;
    letter-spacing: 3px;
    transition: .5s;
    color: #686cd8;
}

nav button {
    background-color: #686cd8;
    color: white;
    border: none;
    border-radius: 5px ;
    font-weight: bold;
    padding: 1rem 2rem;
}

nav button:hover {
    color: burlywood;
    letter-spacing: 1px;
    transition: .5s;
    cursor: pointer;

}

section {
    height: 100%;
    margin: 7% 0;
}

section .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .right-con {

    line-height: 35px;
}

section .content h1 {
    font-size: 3.5rem;
    font-weight:bold ;
    padding: 2rem 0;
}

section p {
    font-size: 2rem;
    padding: 1.7rem 0px;
    letter-spacing: 2px;
}

section .btn-1 {
    padding: 0.8rem 2rem;
    background-color: #4f52b1;
    color: white;
    font-weight:bold;
    border: none;
    border-radius: 3px;
    transition: .5s;
    margin-top:4rem;
}
section .btn-2 {
    padding: 0.6rem 1.5rem;
    background-color: transparent;
    color: black;
    font-weight:bold;
    border: #4f52b1 solid 2px;
    border-radius: 1px;
    margin-right: 10px;
    transition: .5s;
    outline: none;
    margin-top:4rem;
}

section .btn-2:hover {
    letter-spacing: 1px;
    cursor: pointer;
}

section .btn-1:hover{
    letter-spacing: 1px;
    cursor: pointer;
}

/* section .content .img {
    width: 40%;
}

section .content .img img {
    width: 100%;
} */



@media(max-width : 768px) {
    nav .content {
        flex-direction: column;
    }
    nav .content * {
        padding: 1rem 0;
    }
    nav .content ul  {
        width: 100%;
    }
}

@media(max-width : 1200px) {
    section .content {
        flex-wrap: wrap;
    }
    section .content .right-con {
        width: 100%;
    }
    section .content .img {
        width: 100%;
    }
    section .img img {
        width: 100%;
        margin: 1rem 0;
    }
    section .content h1 {
        font-size: 2.5rem;
    }
}